aiohttp==3.8.3
aiosignal==1.2.0
astor==0.8.1
async-timeout==4.0.2
asynctest==0.13.0
attrs==22.1.0
autopep8==1.7.0
bidict==0.21.4
certifi==2022.9.24
charset-normalizer==2.0.12
contracting==1.0.5.2
frozenlist==1.2.0
idna==3.4
idna-ssl==1.1.0
multidict==5.2.0
pycodestyle==2.9.1
pymongo==4.1.1
python-engineio==4.3.4
python-socketio==5.7.1
requests==2.27.1
stdlib-list==0.8.0
toml==0.10.2
typing_extensions==4.1.1
urllib3==1.26.12
yarl==1.7.2